
embabel-agent-api/src/main/resources/mcp/**

/target/**
*/target/**
*/*/target/**
*/*/*/target/**

.idea/**

**/data/

.claude

**/*.log
.shell.log*
*.log.gz
.chatbot_history
knowledge/.DS_Store
output/
**/.DS_Store

**/.envrc
.venv/
